h2 {
  font-size: 40px;
}

.logo-lev {
  position: absolute;
  top: 50px;
  left: 100px;
}

.name-logo {
  position: absolute;
  width: 100%;
  top: 25px;
  text-align: center;
}

.logo-rait {
  position: absolute;
  top: 50px;
  right: 100px;
}

body {
  background: url(img/ae20eef65d74c099f4722d8b36fc3f6a.jpg);
  background-size: cover;
}
